body {
    background-image: url(floralweb.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0ABAB5;
    color: #f5f5f5;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 15px;
}

#proficientSkills {
    display: none;
    width: 245px;
}

#experiencedSkills {
    display: none;
    width: 245px;
}

#learningSkills {
    display: none;
    width: 245px;
}

button {
    background-color: #8E0228;
    margin: 3px;
}

small {
    font-size: 9px;
}

.header {
    text-align: center;
    border-bottom: thin solid #000;
}

h1 {
    font-size: 400%;
}

a {
    color: #fff;
}

p > a {
    text-decoration: underline;
}

.skills {
    padding-top: 0;
    font-weight: 500;
    text-align: center;
    line-height: 2;
}

.interests {
    border-bottom: thin solid #000;
    padding-bottom: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 2;
}

table {
    background-color: #204d74;
    text-align: center;
    color: #fff;
}

ul li {
    display: inline;
}

.title {
    border-bottom: thin solid #000;
    font-weight: 700;
}

.date {
    float: right;
}

.subtitle {
    float: left;
    font-weight: 500;
}

.well {
    padding: 0 10px;
    margin: 0 10px;
    background-color: rgba(245,245,245,0.2);
    border: none;
}

.inner {
    margin: 0 20px;
}